@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}
#landing{
  background-image: url("https://i.imgur.com/TEEFRKk.gif");
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#landing-text{
  background: white;
  width: 38vh;
  height: 38vh;
  border-radius: 50%;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
              -30px 0px 40px rgba(0, 0, 0, 0.3);
}
#landing-text-inner{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: wrap; 
}
#landing-text-inner h2{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2rem; 
  line-height: 104%;
  color: grey;
}
#landing-text-inner span{
  padding-top: 0;
  font-size: .95rem;
}
#logo{
  padding-top: 3vh;
  padding-bottom: 0.1vh;
  width:26vh;
  height: 26vh;
}
.btn {
  padding: 0.5rem 2rem;
  border: 4px #dddddd solid;
  display: inline-block;
  margin-top: 5vh;
  border-radius: 50px;
  text-decoration: none;
  background-color:white;
  color: #333;
  transition: background 500ms ease;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
  -30px 0px 40px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  /* color: white; */
  background: #dddddd;
}